body {
    margin: 0;
    padding: 0;
    background: #00001a;
    font-family: verdana;
}

button{
    margin: 0;
    padding: 0;
}


.desc {
    margin: auto;
    margin-bottom: 10px;
    width: 20%;
    height: 50px;
    background: #efefef;
    text-align: center;
    font-size: 12px;
}

.container {
    margin: auto;
    margin-top: 20px;
    padding: 0;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.square {
    float: left;
    margin: 0;
    padding: 0;
    width: 10px;
    height: 10px;
    background: white;
}

#clear{
    float: left;
    background: white;
    border: none;
    padding: 10px 15px;
    color: #598715;
    font-size: 19px;
    display: inline-block;
    text-align: center;
    margin: -41px -85px;
    cursor: pointer;
    border: solid 2px #598715;
}

#clear:hover{
    background: #598715;
    color: white;
}

#resize {
    float: right;
    background: white;
    border: none;
    padding: 10px 15px;
    color: #598715;
    font-size: 19px;
    display: inline-block;
    text-align: center;
    margin: -41px -95px;
    cursor: pointer;
    border: solid 2px #598715;
}

#resize:hover{
    background: #598715;
    color: white;
}

